body {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: rgb(90, 45, 59);
}

h1 {
    text-align: center;
    color: rgb(246, 237, 237);
    text-shadow: 4px 4px rgb(182, 139, 139);
    font-size: 4rem;
}

.container {
    display: block;
    min-width: 200px;
    margin: auto auto;
}

.instruction {
    text-align: center;
    color: rgb(225, 190, 190);
    font-size: 30px;
}

.btn {
    margin: 20px 20px;
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 5px solid rgb(226, 214, 214);
    border-radius: 20%;
}