.gamecontainer-div {
    display: block;
    margin: 1%;
    aspect-ratio: 16/9;
    background-color: cornflowerblue; /*Temp colour*/
}

.players-div {
    display: inline-block;
    float: left;
    margin: 1%;
    width: 18%;
    height: 96%;
    background-color:blue /*Temp colour*/
}

.gameboard-div {
    display: inline-block;
    float: right;
    margin: 1%;
    width: 78%;
    aspect-ratio: 2/1;
    background-color: aquamarine; /*Temp colour*/
}